* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Press Start 2P';
    
}

#game-board{
    margin: 0;
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    font-size: 20px;
    background-color: white;
    color: black;
    padding: 20px 40px;
    border: 0;
    border-radius: 5px;
    margin-left: 140px;
    margin-top: 30px;
} 
  
h1 {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 7em;
    margin-left: 40px;
    padding: 10px;
}

p {
    text-align: center;
    font-size: 1.3em;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 30px;
}

#myCanvas {
    cursor: url("../img/mousse.png"), auto;
}

#lastwill {
    display: none;
    width: 400px;
}
